<% if signed_in? %>
 <h1>Welcome <%= current_user.name %>. </h1>
 	<h2> Challenge one of your friends! </h2>
 	<!-- the below 2 lines are required for facebook connections -->
	<div id="fb-root"></div>
	<script src ="http://connect.facebook.net/en_US/all.js"></script>
	

	


  <%= form_tag sendrequest_path, id: 'send-request-form' do %>
  <%= render @friends %>
  <%=submit_tag "send requests"%>		
  <%= will_paginate @friends%>
  <%end%>


<% ('A'..'Z').each do |char| %>
     <%= link_to char, '#' %>
<% end %>


<%# This block is the script that is supposed to send out app invitations%>
		<script>
			$('#send-request-form').submit(function() {
		    var friendIds = $(this).find(':checkbox:checked').map(function(){ return this.value }).get();
		    sendRequestToRecipients(friendIds.join(','));
		  });

			function sendRequestToRecipients(ids) {
				FB.init({
		                    appId:'225406654251087',
		                    cookie:false,
		                    status:true,
		                    frictionlessRequests: true
		            });
		        FB.ui({method:'apprequests', message:'would like to invite you to try out our app!', to: ids});
		    };
		</script>

	

		


<% else %>
<!-- This is what is displayed if the user is not signed in -->

	<div class = "center hero-unit">
		
		<h1> This is the Sign in Page </h1>

		<h2> This is where I will put some facebook login api</h2>

		<%= link_to "Login with Facebook", "/auth/facebook", class: "btn btn-large btn-primary"%>
	</div>
<%end%>