<% if signed_in? %>
 <h1>Welcome <%= current_user.name %>. This is the page to challenge a friend</h1>
 <%= link_to "Sign out", signout_path %>

<div id="friends">
	<p><%= link_to "Invite your Facebook Friends","#",:id=>"invite_fb_friends"%></p>
	<div id="fb-root"></div>
	<script src ="http://connect.facebook.net/en_US/all.js"></script>
	<script>
	$(function(){
		$("a#invite_fb_friends").click(function(){
			FB.init({
				appId:'225406654251087',
				cookie:false,
				status:true,
				frictionlessRequests: true
			});

			FB.ui({method:'apprequests',message:'would like to invite you to try out our app!'});
		});
	});
	</script>
</div>

	
		<form name ="app request">
			<input type="checkbox" name ="<%=current_user.friends[0]['id']%>" value="<%=current_user.friends[0]['id']%>">
		<img src='http://graph.facebook.com/<%=current_user.friends[0]['id']%>/picture?type=small'>
		<%=current_user.friends[0]['name']%>

		<!-- testing with Brandon's facebook -->
		<input type="checkbox" name ="28124383" value="28124383">
		<img src='http://graph.facebook.com/28124383/picture?type=small'>
		Brandon Chu
		

		<input type="submit" value="Send Requests">
		</form>

		<%= form_tag sendrequest_path do%>
			<%=check_box_tag "friendids[]", 28124383 %>
			<%=check_box_tag "friendids[]", 304567 %>
			<%=submit_tag "send requests"%>
		<% end %>



		<!--this iterates through friends list and lists them with a checkbox, picture and their name
		<=current_user.friends.each do |user| %>
			<input type="checkbox" name="<=user['name']%>" value=<=user['id']%>
			<=user['name'] %>
			<img src='http://graph.facebook.com/<=user['id']%>/picture?type=small'>
		<end%>-->

		


<% else %>
<!-- This is what is displayed if the user is not signed in -->

	<div class = "center hero-unit">
		
		<h1> This is the Sign in Page </h1>

		<h2> This is where I will put some facebook login api</h2>

		<%= link_to "Login with Facebook", "/auth/facebook", class: "btn btn-large btn-primary"%>
	</div>
<%end%>
